body {
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

ul {
    list-style: none;
    gap: 15px;
    padding: 0px;
    margin: 0px;
}

a , .sub {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header , .hero {
    display: flex;
    align-items: center;
    background-color: #1f2937;
    padding: 8px 80px;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8;
}

.right-links {
    display: flex;
}

.hero {
    display: flex;
    align-items: center;
    padding: 50px 80px;
    gap: 20px;
    flex-wrap: wrap;
}

.main {
    flex: 1;
}

.heroimg {
    flex: 1;
    width: 15%;
    min-width: 300px;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.sub {
    margin-bottom: 8px;
}

.infotitle {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin: 30px 0;
}

.smallpics {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.info {
    width: 150px;
}

.box {
    width: 140px;
    height: 140px;
    border: 4px solid #3882f6;
    border-radius: 20px;
}

.text {
    text-align: center;
    margin-top: 8px;
}

.quotebox {
    background-color: #e5e7eb;
    padding: 50px 120px;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    color: #1f2937;
}

.namequote {
    margin-left: auto;
    font-weight: bolder;
}

.actionbox {
    display: flex;
    margin: 70px 80px;
    background-color: #3882f6;
    padding: 35px 70px;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    flex-wrap: wrap;
}

.actiontitle {
    font-size: 24px;
    font-weight: bold;  
}

.actiontitle, .actionsub {
    color: #f9faf8;
}

.signup, .signup2 {
    padding: 6px 20px;
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    border-radius: 7px;
    color: #f9faf8;
    font-weight: bold;
}

.signup {
    border: 0px;
}

.footer {
    background-color: #1f2937;
    font-size: 18px;
    color: #f9faf8;
    text-align: center;
    padding: 35px;
}